
@{
    ViewBag.Title = "Vehiculos";
    Layout = "~/Views/Shared/_LayoutAjaxResult.cshtml";
}

<h3>Vehiculo(s)</h3>

@foreach (var item in @Model.Vehiculos)
{
    <div style="display:inline-block; background-color:black;  align-content:center;  width:260px; height:220px " id="contenedorVehiculos">
        @if (@item.VehiculoId == @Model.Cliente.VehiculoPrincipalId)
        {
            <div style="display:inline-block; background-color:#2180ac; border-color:azure; border-style:solid;
                border-width:thin;  width:240px; height:200px">
                <table style="background-color:#2180ac!important;">
                    <tr>
                        <td>Codigo: &nbsp;</td>
                        <td style="color:black">@item.VehiculoId</td>
                    </tr>
                    <tr>
                        <td>Marca:&nbsp;</td>
                        <td style="color:black">@item.Marca</td>
                    </tr>
                    <tr>
                        <td>Modelo:&nbsp;</td>
                        <td style="color:black">@item.Modelo</td>
                    </tr>
                    <tr>
                        <td>Patente:&nbsp;</td>
                        <td style="color:black">@item.Patente</td>
                    </tr>
                    <tr>
                        <td>Tipo:&nbsp;</td>
                        <td style="color:black">Auto</td>
                    </tr>
                </table>
            </div>
        }
        @if (@item.VehiculoId != @Model.Cliente.VehiculoPrincipalId)
        {
            <div style="display:inline-block; background-color:black; border-color:azure; border-style:solid;
                        border-width:thin;  width:240px; height:200px ">
                <table style="background-color:black!important;">
                    <tr>
                        <td>Codigo: &nbsp;</td>
                        <td style="color:#888888">@item.VehiculoId</td>
                    </tr>
                    <tr>
                        <td>Marca:&nbsp;</td>
                        <td style="color:#888888">@item.Marca</td>
                    </tr>
                    <tr>
                        <td>Modelo:&nbsp;</td>
                        <td style="color:#888888">@item.Modelo</td>
                    </tr>
                    <tr>
                        <td>Patente:&nbsp;</td>
                        <td style="color:#888888">@item.Patente</td>
                    </tr>
                    <tr>
                        <td>Tipo:&nbsp;</td>
                        <td style="color:#888888">Auto</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <table align="center" style="background-color:black!important;">
                    <tr>
                        <td width="100%">
                            <button type="button" onclick="setearDefault(@item.VehiculoId);" class="btn btn-primary left">Es Principal</button>
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" onclick="eliminarVehiculo(@item.VehiculoId);" class="btn btn-danger right">Eliminar</button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>


}

