@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()


    <ul class="nav navbar-nav navbar-right">
        <li style="color:red!important">
            @Html.ActionLink("Mis Reservas", "Index", "Estacionamiento", routeValues: null, htmlAttributes: new { title = "Reservar" })
        </li>
        <li style="color:red!important">
            @Html.ActionLink("Mi Cuenta", "Index", "Estacionamiento", routeValues: null, htmlAttributes: new { title = "Mi cuenta" })
        </li>
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Ver mi usuario" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
