
@model ParkAr.ViewModels.ReservaBoxViewModel

@{
    ViewBag.Title = "ReservarBox";
    Layout = "~/Views/Shared/_LayoutAjaxResult.cshtml";
}
<!--
    

NO SE USA MAS

-->
<script>
    function generarReservaBox() {

        var _data = {
            "boxID": $('#boxSeleccionado').val(),
            "estacionamientoID": $('#EstacionamientoSelect').val(),
            "desde": $('#Desde').val(),
            "hasta": $('#Hasta').val(),
            "vehiculoSel": $('#VehiculoSelect').val()

        };

            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GenerarReserva")',
                data: JSON.stringify(_data),
                success: function (result) {
                    $('#container-boxes').html(result); },
                error: function () { alert('Error'); }
            });
    }

    function cancelar() {
        window.location.href = "/";
    }

</script>


    <h2>Confirmar Reserva</h2>



@using (Html.BeginForm("GenerarReserva", "Estacionamiento"))
{
    <div class="form-group">
        <div>
            @Html.LabelFor(r => r.Cliente.Nombre)
            @Model.Cliente.Nombre &nbsp;  @Model.Cliente.Apellido
            <input type="hidden" value="@Model.Cliente.Nombre" id="usuario" />
        </div>
        <div>
            @Html.LabelFor(r => r.BoxSeleccionado.Numero)
            @Model.BoxSeleccionado.Numero
            <input type="hidden" value="@Model.BoxSeleccionado.BoxId" id="boxSeleccionado" />
        </div>
        <div>
            @Html.LabelFor(r => r.EstacionamientoSeleccionado)
            @Model.EstacionamientoSeleccionado.Nombre
        </div>  
        <div>
            @Html.LabelFor(r => r.BoxSeleccionado.CategoriaBox)
            @Model.BoxSeleccionado.CategoriaBox.Descripcion
        </div>
        <div>
            @Html.LabelFor(r => r.Desde)
            @Html.TextBoxFor(r => r.Desde, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.BoxSeleccionado.CategoriaBox.Descripcion)
        </div>
        <div>
            @Html.LabelFor(r => r.Hasta)
            @Html.TextBoxFor(r => r.Hasta, new { @class = "form-control" })
            @Html.ValidationMessageFor(r => r.BoxSeleccionado.CategoriaBox.Descripcion)
        </div>
        <div>
            <br />
            @Html.LabelFor(r => r.Vehiculo)
            <select id="VehiculoSelect"  value="@Model.Cliente.VehiculoPrincipalId">
                
                @foreach (var vehiculo in @Model.Cliente.Vehiculos)
                {
                    if (@vehiculo.VehiculoId == @Model.Cliente.VehiculoPrincipalId)
                    {
                        <option value = "@vehiculo.VehiculoId" selected="selected"> @vehiculo.Marca &nbsp;-&nbsp; @vehiculo.Modelo&nbsp;-&nbsp;@vehiculo.Patente</option>
                    }
                    else
                    {
                        <option value="@vehiculo.VehiculoId"> @vehiculo.Marca&nbsp;-&nbsp; @vehiculo.Modelo&nbsp;-&nbsp;@vehiculo.Patente</option>
                    }

                }
            </select>
            <br />
        </div>
        <br />
        <br />
        <div class="form-group">
            <button type="button" onclick="generarReservaBox();" class="btn btn-primary left">Reservar</button>
            <button type="button" onclick="cancelar();" class="btn btn-danger right">Cancelar</button>
        </div>
        </div>
}

