@model ParkAr.Models.Estacionamiento

@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
   function reservarBox(boxId){
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ReservarBox")',
                data: { boxID: boxId, estacionamientoId: $('#EstacionamientoSelect').val() },
                success: function (result) { $('#container-boxes').html(result); },
                error: function () {
                    alert(xhr.status);
                    alert(thrownError);
                    alert(xhr.responseText);
                }
            });
        }

</script>
<h2>Boxes del Estacionamiento @Model.Nombre</h2>

@foreach (var item in @Model.Boxes)
{

        <div style="background-color:green; border-color:azure; border-spacing:5px!important" onclick="reservarBox(@item.BoxId)" width="30px" height="50px" >
            @item.Numero
        </div>
   

}


