@model ParkAr.ViewModels.VerBoxesViewModel

@{
    ViewBag.Title = "Boxes";
    Layout = "~/Views/Shared/_LayoutAjaxResult.cshtml";
}

<script>
   function reservarBox(boxId){
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ReservarBox")',
                data: { boxID: boxId, estacionamientoId: $('#EstacionamientoSelect').val() },
                success: function (result) {
                    $('#container-boxes').html(result);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.status);
                    alert(errorThrown);
                    //alert(jqXHR.responseText);
                }
            });
        }

</script>
<h2>Boxes del Estacionamiento @Model.NombreEstacionamiento</h2>
@*


<div id="container-boxes">
    <div class="container-fluid">
        <div class="row">

            @foreach (var item in Model.Boxes)
            {
                if (item.EstadoBox.Descripcion.Equals("Libre"))
                {
                    <div class="col-lg-2" style="border-style:solid; border-width:thick; background-color:green; border-color:azure; border-spacing:5px!important" onclick="reservarBox(@item.BoxId)" width="115px" height="220px"><font size="6">@item.Numero</font></div>
                    <div class="col-md-1">
                        <!--Agrego espacio entre columnas-->
                    </div>
                }
                else
                {
                    <div class="col-lg-2" style="border-style:solid; border-width:thick; background-color:red; border-color:azure; border-spacing:5px!important"><font size="6">@item.Numero</font></div>
                    <div class="col-md-1">
                        <!--Agrego espacio entre columnas-->
                    </div>
                }


            }
        </div>
    </div>

 *@   
    @*<div >
    @foreach (var item in @Model.Boxes)
    {

        <div  style="display:inline-block; background-color:dimgrey; border-color:azure; border-style:solid;
            border-width:thick; height:200px; width:104px; " onclick="reservarBox(@item.BoxId)" >
                @if (@item.EstadoBox.EstadoBoxId == 1)
                {
                    <h3 style="color:#2180ac">@item.Numero</h3>
                }
                @if (@item.EstadoBox.EstadoBoxId == 2)
                {
                    <h3 style="color:#cc0000">Ocup</h3>                   
                }
                @if (@item.EstadoBox.EstadoBoxId == 3)
                {
                    <h3 style="color:#cc0000">Ocup</h3>
                }
        </div>


    }*@

        <div>
    @foreach (var piso in @Model.MapaBoxes)
            {
            <hr />
                <h3>Piso&nbsp;@piso.Key</h3>
                <div>
                    @foreach (var item in @piso.Value)
                    {
                        <div style="display:inline-block;">
                            @if (@item.EstadoBox.EstadoBoxId == 1)
                            {
                                <div style="display:inline-block; background-color:dimgrey; border-color:azure; border-style:solid;
                                border-width:thick; height:200px; width:104px; " onclick="reservarBox(@item.BoxId)">
                                    <h3 style="color:aliceblue">@item.Numero </h3>
                                </div>
                            }
                            @if (@item.EstadoBox.EstadoBoxId == 2)
                            {
                                <div style="display:inline-block; background-color:dimgrey; background-image:url(../Content/car_top.png); border-color:azure; border-style:solid;
                                border-width:thick; height:200px; width:104px; " onclick="">
                                    <h3> &nbsp;</h3> 
                                </div>
                            }
                            @if (@item.EstadoBox.EstadoBoxId == 3)
                            {
                                <div style="display:inline-block; background-color:dimgrey; background-image:url(../Content/car_top2.png); border-color:azure; border-style:solid;
                                border-width:thick; height:200px; width:104px; " onclick="">
                                    <h3> &nbsp;</h3> 
                                </div>
                            }
                        </div>
                    }
                </div>
        }
</div>












